@model List<TravelPackage>
@{
    Layout = "_LayoutAdmin";
}
<div class="text-center">
    <div>
        <a class="btn btn-info"href="@Url.Action("Export", "TravelPackage")">Esporta i pacchetti</a>
    </div>
    @if (Model.Count > 0)
    {
        <h1>Lista Pacchetti</h1>
        <a class="btn btn-primary" href="@Url.Action("Create", "TravelPackage")">Inserisci un nuovo pacchetto </a>
        <table class="table table-striped">
            <thead class="text-primary">
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Nome</th>
                    <th scope="col">Descrizione</th>
                    <th scope="col">Immagine</th>
                    <th scope="col">Prezzo</th>
                    <th scope="col">Durata</th>
                    <th scope="col">Categoria</th>
                    <th scope="col">Destinazioni</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr class="text-primary">
                        <th scope="row">@item.Id</th>
                        <td>@item.Name</td>
                        <td>@item.Description</td>
                        <td><img height="200" src="@item.ImgSource"></td>
                        <td>@item.Price $</td>
                        <td>@item.Dutation giorni</td>
                        <td>@item.Category.Name</td>
                        <td>
                            <ul>
                                @foreach (var des in item.Destinations)
                                {
                                    <li>@des.Name</li>
                                }
                            </ul>
                        </td>
                        <td>
                            <a class="btn btn-warning" href="@Url.Action("Detail", "TravelPackage", new {id = item.Id})">Dettaglio</a>
                            <a class="btn btn-primary" href="@Url.Action("Update","TravelPackage", new {id = item.Id})">Update</a>
                            <form asp-action="Delete" asp-controller="TravelPackage" asp-route-id="@item.Id" method="post">
                                <button class="btn btn-danger">Delete</button>
                            </form>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    }
    else
    {
        <h1>La tabella dei pacchetti di viaggio  e' vuota</h1>
        <a class="btn btn-primary" href="@Url.Action("Create", "TravelPackage")">Inserisci un nuovo pacchetto </a>
    }
